$accent-green: #9ADC68;
$accent-green-dark: #5a9131;
$black: #2D2B2C;

*, a, h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: $black;
  font-size: 18px;
}
a, button{
  cursor: pointer;
}
div{
  border-radius: 8px;
}
.App{
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  gap: 10px;
  background-color: $black;
}
.App-header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: $black;
  width: 100%;
  text-align: center;
  user-select: none;
  padding: 20px;
  h1{
    color: $accent-green;
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 0;
  }
}
.mute-button{
  background-color: #fff;
  color: #333;
  width: auto;
  height: max-content;
  padding: 10px;
  &:hover, &:focus{
    background-color: $accent-green;
  }
  &:active{
    background-color: $accent-green-dark;
  }
}